/* Color Palette

#182747
#562B08
#647E68
#D8D8D8 */

* {
    padding: 0;
    margin: 0;
}
h1 {font-size: 48px;}
h2 {font-size: 42px;}
h3 {font-size: 36px;}
h4 {font-size: 30px;}
h5 {font-size: 24px;}
h6 {font-size: 18px;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Heading part css */

.div_header {
    width: 100%;
    background-color: #ddd;
}
.header_intro {
    width: 50%;
    height: 100vh;
    background-color: #182747;
    color: #fff;
    float: left;
}

nav ul {
    list-style-type: none;
    padding-top: 40px;
}
.nav_home { background-color: #D8D8D8; }
.nav_home a { color: #182747; }

nav ul li {
    float: left;
    background-color: #182747;
}
nav ul li a {
    display: inline-block;
    color: #D8D8D8;
    text-decoration: none;
    padding: 10px 15px;
}
nav ul li:hover a {
    background-color: #D8D8D8;
    color: #182747;
    /* font-weight: bold; */
}
.header_intro nav, .header_intro p, h1 { 
    padding-left: 100px; 
    padding-right: 50px;
}
.header_intro p.greet {
    font-size: 30px;
    padding-top: 180px;
    /* padding-bottom: 50px; */
    /* background-color: #647E68; */
}
.header_intro h1 {
    padding-top: 20px;
    padding-bottom: 80px;
}
.header_img {
    width: 50%;
    height: 100vh;
    float: left;
}
.header_img  img {
    width: 100%;
    height: 100%;
}

main {
    clear: left;
    width: 100%;
    /* height: 600px; */
    /* background-color: #D8D8D8; */
}

/* About part css */

.about_me {
    background-color: #D8D8D8;
    color: #182747;
    height: 100vh;
    text-align: center;
}

.about_me h2 {
    padding-top: 60px;
    margin-bottom: 40px;
}

.about_me p {
    padding: 20px 100px;
    text-align: justify;
}
.about_me a {
    text-decoration: none;
    display: inline-block;
    color: #182747;
    background-color: #D8D8D8;
    padding: 10px 30px;
    margin-top: 60px;
    border: 1px solid #182747;
}
.about_me a:hover {
    background-color: #182747;
    color: #D8D8D8;
}

/* Portfolio part css */

.portfolio {
    background-color: #647E68;
    height: 100vh;
    /* padding-top: 20px; */
}

.div_portfolio {
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    padding: 0 80px;
}
.div_portfolio div {
    width: 30%;
    height: 200px;
    color: #182747;
    background-color: #D8D8D8;
    margin-top: 30px;
    border: 2px solid #D8D8D8;
    /* opacity: 0.7; */
}
.div_portfolio img {
    width: 100%;
    height: 100%;
}
.div_portfolio h4 {
    text-align: center;
    color: #D8D8D8;
    margin-top: 10px;
}

/* .div_portfolio div:hover {
    width: 33%;
    opacity: 1;
    border: 2px solid #D8D8D8;
} */

.portfolio h2 {
    text-align: center;
    /* background-color: #562B08; */
    color: #D8D8D8;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.row_2 {
    margin-top: 30px;
}

/* Contact part css */

.contact {
    background-color: #562B08;
    color: #D8D8D8;
    height: 655px;
    display: flex;
}
.contact .div1 {
    width: 60%;
    /* text-align: center; */
}
.contact .div2 {
    width: 40%;
    background-color: #D8D8D8;
}
.contact .div1, .contact .div2 {
    /* width: 50%; */
    height: 655px;
}
.contact .div1 h2 {
    text-align: right;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact .left_padding {
    padding: 0 100px;
}
.contact .div1 h3 {
    padding-top: 40px;
}
.contact .div1 p {
    padding-top: 5px;
}
.contact .div1 ul {
    list-style-type: none;
    padding-top: 120px;
}
.contact .div1 ul li {
    float: left;
    margin-right: 10px;
    /* color: #fff; */
}

.icons li a img {
    background-color: #D8D8D8;
}

.contact .div2 img {
    width: 100%;
    height: 100%;
}

/* .clearfix { clear: left; } */

/* Footer part css */

footer {
    height: 80px;
    background-color: #222;
    color: #D8D8D8;
    text-align: center;
    line-height: 80px;
}

/* Responsive Part CSS */

/* Screen below 425px */

@media only screen and (max-width: 425px) {

    .header_intro {
        width: 100%;
    }

    nav ul {
        padding-top: 40px;
    }

    nav ul li a {
        padding: 5px 10px;
    }

    .header_intro nav, .header_intro p, h1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_intro p.greet {
        padding-top: 120px;
        font-size: 30px;
    }

    .header_intro h1 {
        padding-top: 40px;
        padding-bottom: 80px;
        font-size: 42px;
    }

    .header_intro p {
        font-size: 20px !important;
    }

    .header_img {
        width: 100%;
        height: 100%;
    }

    .about_me {
        height: 650px;
    }

    .about_me h2 {
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 36px !important;
    }

    .about_me p {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px !important;
        text-align: start;
    }

    .about_me a {
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 5px;
    }

    .contact .div1 {
        width: 100%;
    }

    .contact .div2 {
        display: none;
    }
}
